@model GoodToyes.Models.Cart
@{
    Layout = "_Layout";
    var cartItems = Model.CartItems.ToList();
    
}
<div class="pads-xs">
    <article class="media">
        <figure class="media-left pad-left-s pad-right-s mobile-hide">
            <p class="image is-64x64"></p>
        </figure>
        <div class="media-content hide-overflow pad-top-s">
            <div class="content">
                <div class="columns is-size-4 is-size-6-mobile is-mobile">
                    <div class="column is-3 is-1-mobile">
                        <strong>Product</strong>
                    </div>
                    <div class="column is-2 is-2-mobile">
                        <strong>Price</strong>
                    </div>
                    <div class="column is-3 is-1-mobile">
                        <strong>Quantity</strong>
                    </div>
                    <div class="column is-3 is-1-mobile">
                        <strong>Total</strong>
                    </div>
                </div>
            </div>
        </div>
    </article>

    @foreach (var item in cartItems)
    {<article class="media">
            <figure class="media-left pads-s mobile-hide">
                <p class="image is-64x64">
                    <img src="@item.Product.Image" />
                </p>
            </figure>
            <div class="media-content hide-overflow">
                <div class="content">
                    <form asp-action="UpdateCartItem" asp-route-id="@item.ID">
                        <div class="columns is-mobile">
                            <div class="column pad-top-s is-3 is-1-mobile">
                                <strong>@item.Product.Name</strong>
                            </div>
                            <div class="column is-2 is-2-mobile">
                                $@item.Product.Price
                            </div>
                            <div class="column is-3 is-1-mobile">
                                <input type="number" value="@item.Quantity" name="quantity" class="quantity-input input" min="1" max="10" />
                                <button type="submit" class="button is-success pad-top-xs">Update</button>
                            </div>
                            <div class="column is-3 is-1-mobile">
                                <span class="is-pushed-right">(@item.Product.Price x @item.Quantity) = <strong class="has-text-success">$@item.Total</strong></span>
                            </div>
                            <div class="pad-top-s">
                                <a asp-action="DeleteCartItem" asp-route-id="@item.ID" class="delete"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    }
</div>
<div class="pads-xs">
    <hr />
</div>
<div class="buttons is-centered pad-bottom-m">
    <span class="pad-right-s is-size-3 is-size-5-mobile"><strong>Grand Total:</strong> <span class="has-text-success">@Model.GrandTotal</span></span>
    <a asp-action="Checkout" class="button is-success is-large">Check Out</a>
</div>
