@page
@model GoodToyes.Pages.AdminModel
@using GoodToyes.Models.Interfaces
@inject IProduct ProductManager
@{
    Layout = "_Layout";
    var products = await ProductManager.GetProducts();
}
<h1>Admin Page</h1>
<h2>Add New Product</h2>
<form>
    <input />

    <input />
    <input />
    <button type="submit">Add Product</button>
</form>

<div class="product-container">
    @foreach (var product in products)
    {
        <form method="post" asp-route="@product.ID">


            <img src="@product.Image" class="product-img" />
            <label>Product Image URL</label>
            <input value="@product.Image" />
            <label>Product Name</label>
            <input value="@product.Name" />
            <label>Product Price</label>
            <input value="@product.Price" />

            <button type="submit" asp-page-handler="UpdateProduct">Update</button>
            <button type="submit" asp-page-handler="Delete">Delete</button>

        </form>
    }
</div>