@model GoodToyes.Models.Product
@{
}

<div class="card-content">
    <div class="card-image pad-top-s">
        <figure class="card-image is-1by1 center">
            <img src="/@Model.Image" class="card" title="@Model.Name" />
        </figure>
    </div>

    <div class="">
        <div class="center">
            <span class="title is-2 is-size-4-mobile is-spaced has-text-weight-bold pad-right-s">
                @Model.Name
            </span>
            <span class="subtitle is-size-2 is-size-4-mobile has-text-success">
                $@Model.Price
            </span>
            <p class="is-size-4 is-size-5-mobile text-container">@Model.Description</p>
            <p class="is-size-4 is-size-5-mobile">SKU: #@Model.SKU</p>
            <div class="buttons is-centered pad-top-s">
                <div class="field is-grouped">
                    <div class="control">
                        <span class="is-size-4">Quantity:  </span>
                        <form method="post">
                            <input asp-for="@Model.Quantity" />
                        </form>
                        <a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@Model.ID" class="button is-success is-large">Add to Cart</a>
                    </div>
                    <div class="control">
                        <a href="~/Shop#productsline" class="button is-text is-large">Back to Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>